body {
	background: #DC2424; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #DC2424 , #4A569D); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #DC2424 , #4A569D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

img {
	display: block;
    margin: auto;
    margin-top: 150px;
}

#gameField {
	padding-left: 0;
    padding-right: 0;
    margin: 0px auto;
    margin-top: 80px;
    display: block;
}

#login {
	background-color: black;
}

#getStartedButton {
	margin:0 auto;
	display:block;
	margin-top: 150px;
	height: 100px;
	width: 400px;
    border-radius: 20px;
	background: black !important;
}